@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
@media (max-width: 768px) {
  ::-webkit-scrollbar {
    display: none; /* @ Current State: Help to center <ListOfComponents> */
  }

  body {
    scrollbar-width: none; /* Per Firefox */
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Personalizzazione della scrollbar */
::-webkit-scrollbar {
  width: 12px;
  margin-left: 10px; /* Larghezza della scrollbar */
}

::-webkit-scrollbar-track {
  background: transparent; /* Colore dello sfondo della track della scrollbar */
  margin-left: 10px;
}

::-webkit-scrollbar-thumb {
  background: transparent; /* Colore del thumb della scrollbar */
  border-radius: 6px; /* Bordo arrotondato per il thumb */
}

::-webkit-scrollbar-thumb:hover {
  background: #dfdfdf; /* Colore del thumb quando si passa sopra */
}

