/* ShoppingList.module.css */

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #f8f8f8;
}

.card {
    width: 100%;
    max-width: 800px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.details {
    margin-bottom: 20px;
    line-height: 1.5;
}

.actions {
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

.editButton {
    background-color: #0070f3;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.editButton:hover {
    background-color: #005bb5;
}

.calculateButton {
    background-color: #28a745;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.calculateButton:hover {
    background-color: #218838;
}

.error {
    color: red;
    font-weight: bold;
    margin-top: 20px;
}

.cardHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.deleteIcon {
    color: red;
    cursor: pointer;
    transition: transform 0.2s;
    margin-left: 10px; /* Margine per separare l'icona dal titolo */
}

.deleteIcon:hover {
    transform: scale(1.2);
}
